<div class="ctx-menu-overlay" data-cb="overlay">
	<div class="ctx-menu-container" data-cb="container">
		<div class="ctx-menu ui-panel-raised">
			<ul class="cols-menu-list" data-cb="colList">
				<li class="ctx-menu-item" data-cb="colItem">
					<input type="checkbox" class="cols-menu-check" data-cb="colCheck" tabindex="-1" />
					<span data-cb="colLabel"></span>
				</li>
			</ul>
			<div class="ctx-menu-separator"></div>
			<div class="ctx-menu-item" data-cb="resetItem" title="Show every column and restore the default widths">Reset columns</div>
		</div>
	</div>
</div>
